.block__content__API{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 3pc;
    margin-bottom: 2pc;
    margin-top: 3pc;
}
.block__content__data{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1pc;
}

.card{
    display: flex;
    /* flex-direction: row; */
    justify-content: center; 
    align-items: center;
    gap: 3pc;
    padding: 1pc 1.5pc; 
    background-color: #232323;
    color: white;
    border-radius: 5px;
}
.card__left img{
    width: 10pc;
    border-radius: 50%;
}

@media screen and (max-width: 500px){
    .block__learneing{
        margin-top: 0;
        height: 100vh;
    }
    .block__learneing h1{
        font-size: 2.5pc;
        padding-left: 10px;
    }
    .block__tecnologias{
        font-size: 2pc;
    }
    .block__content__data{
        grid-template-columns: 1fr;
    }
    .block__content__one{
        flex-direction: column;
        height: 100vh;
    }
    .left, .right,.content_two_right,.content__two__left, .content__three__lef, .content__three__right{
        width: 100%;
    }
   
    .content_two_right, .content__three__lef{
        padding: 0 1pc;
    }
}